<html>
  <head>
    <title>Book Reviews</title>
  </head>
  <body bgcolor=#67727B>
	<font face="Bradley Hand ITC" color="white" size="7"><i><b>Book Reviews</b></i></font>
	<font face="Comic Sans MS" color="black" size="4"> Read, write, read!</font>
        <br>
        <br>
	<br>
	<br>
        <a href="all"><span style="font-size: 25px ; color: white">Read book reviews</span></a>
        <br>
	<br>
	<br>
	<br>
        <a href="add"><span style="font-size: 25px ; color: white">Write a book review</span></a>
  </body>
</html>
