<html>
  <head>
    <title>Around the world!</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tables.css')}}">
  </head>
  <body>
    <table  BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
     <thead>
       <tr>
         <th class="text-left">City</th>
         <th class="text-left">State</th>
       </tr>
     </thead>
     <tbody>
       {% for post in posts %}
         <tr>
         <td class="text-left">{{ post.city }}</td>
	 <td class="text-left">{{ post.state}}</td>
         </tr> 
       {% endfor %}
     </tbody>
    </table>   
  </body>
</html>
