<html>
  <head>
    <title>Book Reviews</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tables.css')}}">
     <style>
table {
    width:100%;
      }
     </style>
  </head>
  <body>
    <div class="table-title">
	<h1>Book Reviews</h1>
    </div>
    <table>
     <thead>
       <tr>
         <th class="text-left">Book</th>
         <th class="text-left">Author</th>
	 <th class="text-left">Review</th>
       </tr>
     </thead>
     <tbody>
       {% for post in posts %}
         <tr>
         <td class="text-left">{{ post.book }}</td>
	 <td class="text-left">{{ post.author}}</td>
	 <td class="text-left">{{ post.review}}</td>
         </tr> 
       {% endfor %}
     </tbody>
    </table>   
  </body>
</html>
